body {
    margin: 0;
    padding: 0;
}

.inputContainer {
    width: 500px;
    background-color: red;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#inputString {
    width: 350px;
    height: 50px;
    box-sizing: border-box;
    font-size: 30px
}

#inputButton {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 0;
}

#listContainer {
    width: 500px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.listItem {
    width: 500px;
    height: 100px;
    background-color: green;
    display: flex;
    align-items: center;

}

.checkbox {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.listItemName {
    flex-basis: 80%;
    font-size: 30px;

}

#deleteListItem {
    margin: 10px;
    width: 100px;
    height: 50px;
}