body {
    margin: 0;
    padding: 0;
}

.inputContainer {
    width: 500px;
    background-color: #E5D200;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#inputString {
    width: 350px;
    height: 50px;
    box-sizing: border-box;
    font-size: 30px;
}

#inputButton {
    width: 130px;
    height: 50px;
    box-sizing: border-box;
    padding: 0;
    font-size: 20px;
}

#listContainer {
    width: 500px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #504BC5;
}

.listItem {
    width: 500px;
    height: 100px;
    margin: 10px 0px;
    background-color: #FFA01A;
    display: flex;
    align-items: center;

}

.checkbox {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.listItemName {
    flex-basis: 80%;
    font-size: 30px;

}

#deleteListItem {
    margin: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}
.taskName{
    font-size: 30px;
    margin: auto;
    width: 200px;
}
.ListName{
    font-size: 30px;   
    width: 200px; 
    margin: 0;
    color: white;
}